/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Osaka';
  src: url('fonts/Osaka.ttf');
}

.font-osaka {
  font-family: 'Osaka', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'GoodTimesRg-Regular';
  src: url('fonts/good times rg.ttf');
}

.font-goodTimesRgRegular {
  font-family: 'GoodTimesRg-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.ttf');
}

.font-helvetica {
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #9050f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
}

.App .appBg {
  background-color: #9050f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #798eee;
}

.App .primaryBg {
  background-color: #798eee;
}

.App .highlightTextColor {
  color: #1408d5;
}

.App .highlightBg {
  background-color: #1408d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #798eee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #869cf0;
}
.mui-btn--accent {
    background-color: #1408d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #2d36da;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.0px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 19.0px;
}
.App .navBar {
  background-color: #798eee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 7px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

/* This component has a fixed-size layout */
  .GameButton {
    min-height: 75px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 300px */
    height: 100%;
  }
  .GameButton > .background > .containerMinHeight {
    min-height: 75px;
  }


  .GameButton > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .GameButton > .background > .elTf2 {
    position: absolute;
    left: -23px;
    top: -36px;
    width: 344px;
    height: 202px;
  }


  .GameButton > .foreground > .elTextBlock {
    position: absolute;
    left: 0px;
    top: 32px;
    width: 263px;
    height: 44px;
  }


/* Narrowest size for this element's responsive layout */
  .Scrn_GameMenuScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .Scrn_GameMenuScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .Scrn_GameMenuScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .Scrn_GameMenuScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

/* This component has a fixed-size layout */
  .Comp_login {
    width: 100%; /* This component was designed using a width of 270px */
    height: 100%;
  }


  .Comp_login > .layoutFlow > .elFirebaseLogin {
    position: relative;
    margin-top: 0px;
    width: 267px;
    margin-left: 0px;
  }
  .Comp_login > .layoutFlow > .elFirebaseLogin > * { 
  width: 267px;
  height: 256px;
  }
  


/* Narrowest size for this element's responsive layout */
  .MainMenuScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .MainMenuScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .MainMenuScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .MainMenuScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.MainMenuScreen .elGameBiutton {
  overflow: hidden;
}

.MainMenuScreen .elGameBiutton.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .MainMenuScreen > .layoutFlow > .elGameBiutton {
    position: relative;
    margin-top: 66px;
    width: 300px;
    margin-left: 12px;
  }
  .MainMenuScreen > .layoutFlow > .elGameBiutton > * { 
  width: 300px;
  }
  
  .MainMenuScreen > .layoutFlow > .elGameBiutton > .background > .containerMinHeight {
    min-height: 75px;
  }

@media (min-width: 568px) {
  .MainMenuScreen > .layoutFlow > .elGameBiutton {
    position: relative;
    margin-top: 66px;
    width: 300px;
    margin-left: 12px;
  }
  .MainMenuScreen > .layoutFlow > .elGameBiutton > * { 
  width: 300px;
  }
  
  .MainMenuScreen > .layoutFlow > .elGameBiutton > .background > .containerMinHeight {
    min-height: 75px;
  }

}
@media (min-width: 768px) {
  .MainMenuScreen > .layoutFlow > .elGameBiutton {
    position: relative;
    margin-top: 66px;
    width: 298px;
    margin-left: 12px;
  }
  .MainMenuScreen > .layoutFlow > .elGameBiutton > * { 
  width: 298px;
  }
  
  .MainMenuScreen > .layoutFlow > .elGameBiutton > .background > .containerMinHeight {
    min-height: 75px;
  }

}
@media (min-width: 1024px) {
  .MainMenuScreen > .layoutFlow > .elGameBiutton {
    position: relative;
    margin-top: 66px;
    width: 298px;
    margin-left: 12px;
  }
  .MainMenuScreen > .layoutFlow > .elGameBiutton > * { 
  width: 298px;
  }
  
  .MainMenuScreen > .layoutFlow > .elGameBiutton > .background > .containerMinHeight {
    min-height: 75px;
  }

}


/* Narrowest size for this element's responsive layout */
  .MainMenuScreen > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    width: 10px;
    margin-left: 0px;
  }
  .MainMenuScreen > .layoutFlow > .elSpacer > * { 
  width: 10px;
  height: 50px;
  }
  
@media (min-width: 568px) {
  .MainMenuScreen > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    width: 10px;
    margin-left: 0px;
  }
  .MainMenuScreen > .layoutFlow > .elSpacer > * { 
  width: 10px;
  height: 50px;
  }
  
}
@media (min-width: 768px) {
  .MainMenuScreen > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    width: 10px;
    margin-left: 0px;
  }
  .MainMenuScreen > .layoutFlow > .elSpacer > * { 
  width: 10px;
  height: 50px;
  }
  
}
@media (min-width: 1024px) {
  .MainMenuScreen > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    width: 10px;
    margin-left: 0px;
  }
  .MainMenuScreen > .layoutFlow > .elSpacer > * { 
  width: 10px;
  height: 50px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .SignInScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .SignInScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .SignInScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .SignInScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .SignInScreen > .screenFgContainer > .foreground > .elImg_beacon_logo {
    position: absolute;
    left: calc(50.0% + -106px);
    top: 25px;
    width: 213px;
    height: 156px;
  }
@media (min-width: 568px) {
  .SignInScreen > .screenFgContainer > .foreground > .elImg_beacon_logo {
    left: calc(50.0% + -106px);
    top: 25px;
    width: 213px;
    height: 156px;
  }
}
@media (min-width: 768px) {
  .SignInScreen > .screenFgContainer > .foreground > .elImg_beacon_logo {
    left: calc(50.0% + -106px);
    top: 25px;
    width: 212px;
    height: 155px;
  }
}
@media (min-width: 1024px) {
  .SignInScreen > .screenFgContainer > .foreground > .elImg_beacon_logo {
    left: calc(50.0% + -106px);
    top: 25px;
    width: 212px;
    height: 155px;
  }
}


/* Narrowest size for this element's responsive layout */
  .SignInScreen > .screenFgContainer > .foreground > .elTxt_login {
    position: absolute;
    left: calc(50.0% + -118px);
    top: 190px;
    width: 235px;
    height: 49px;
  }
@media (min-width: 568px) {
  .SignInScreen > .screenFgContainer > .foreground > .elTxt_login {
    left: calc(50.0% + -118px);
    top: 190px;
    width: 235px;
    height: 49px;
  }
}
@media (min-width: 768px) {
  .SignInScreen > .screenFgContainer > .foreground > .elTxt_login {
    left: calc(50.0% + -117px);
    top: 189px;
    width: 234px;
    height: 49px;
  }
}
@media (min-width: 1024px) {
  .SignInScreen > .screenFgContainer > .foreground > .elTxt_login {
    left: calc(50.0% + -117px);
    top: 189px;
    width: 234px;
    height: 49px;
  }
}

.SignInScreen .elComp_login {
  overflow: hidden;
}

.SignInScreen .elComp_login.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login {
    position: absolute;
    left: calc(50.0% + -135px);
    top: 250px;
    width: 270px;
    height: 256px;
  }
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login > .background > .containerMinHeight {
    min-height: 256px;
  }

@media (min-width: 568px) {
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login {
    left: calc(50.0% + -135px);
    top: 250px;
    width: 270px;
    height: 256px;
  }
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login > .background > .containerMinHeight {
    min-height: 256px;
  }

}
@media (min-width: 768px) {
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login {
    left: calc(50.0% + -134px);
    top: 248px;
    width: 268px;
    height: 254px;
  }
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login > .background > .containerMinHeight {
    min-height: 255px;
  }

}
@media (min-width: 1024px) {
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login {
    left: calc(50.0% + -134px);
    top: 248px;
    width: 268px;
    height: 254px;
  }
  .SignInScreen > .screenFgContainer > .foreground > .elComp_login > .background > .containerMinHeight {
    min-height: 255px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SignInScreen > .screenFgContainer > .foreground > .elFirebaseLogin {
    position: absolute;
    left: calc(50.0% + -134px);
    top: 250px;
    width: 267px;
    height: 298px;
  }
@media (min-width: 568px) {
  .SignInScreen > .screenFgContainer > .foreground > .elFirebaseLogin {
    left: calc(50.0% + -134px);
    top: 250px;
    width: 267px;
    height: 298px;
  }
}
@media (min-width: 768px) {
  .SignInScreen > .screenFgContainer > .foreground > .elFirebaseLogin {
    left: calc(50.0% + -133px);
    top: 248px;
    width: 266px;
    height: 296px;
  }
}
@media (min-width: 1024px) {
  .SignInScreen > .screenFgContainer > .foreground > .elFirebaseLogin {
    left: calc(50.0% + -133px);
    top: 248px;
    width: 266px;
    height: 296px;
  }
}


/* Narrowest size for this element's responsive layout */
  .SignInScreen > .screenFgContainer > .foreground > .elTextBlock {
    overflow: hidden;
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 193px;
    height: 22px;
  }
@media (min-width: 568px) {
  .SignInScreen > .screenFgContainer > .foreground > .elTextBlock {
    overflow: hidden;
    left: 10px;
    bottom: 10px;
    width: 193px;
    height: 22px;
  }
}
@media (min-width: 768px) {
  .SignInScreen > .screenFgContainer > .foreground > .elTextBlock {
    overflow: hidden;
    left: 10px;
    bottom: 10px;
    width: 192px;
    height: 22px;
  }
}
@media (min-width: 1024px) {
  .SignInScreen > .screenFgContainer > .foreground > .elTextBlock {
    overflow: hidden;
    left: 10px;
    bottom: 10px;
    width: 192px;
    height: 22px;
  }
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

/* This component has a fixed-size layout */
  .Cmp_GameMapSelection {
    min-width: 300px; /* This component has a fixed size */
  }


  .Cmp_GameMapSelection > .layoutFlow > .elCheckbox {
    position: relative;
    margin-top: 4px;
    width: 292px;
    margin-left: 5px;
  }
  .Cmp_GameMapSelection > .layoutFlow > .elCheckbox > * { 
  width: 292px;
  }
  

/* This component has a fixed-size layout */
  .Cmp_GameMenu_folder {
    min-height: 75px;  /* This component has a fixed size */
    overflow: hidden;
    min-width: 300px; /* This component has a fixed size */
  }
  .Cmp_GameMenu_folder > .background > .containerMinHeight {
    min-height: 75px;
  }


  .Cmp_GameMenu_folder > .background > .state0_elBackground986923 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

.Cmp_GameMenu_folder .state0_elBtn_state11043681 {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.Cmp_GameMenu_folder .state0_elBtn_state11043681:focus {
  box-shadow: 0 0 5px rgba(22, 43, 214, 0.5000);
  outline: none;
}



  .Cmp_GameMenu_folder > .foreground > .state0_elBtn_state11043681 {
    position: absolute;
    left: 9px;
    top: 17px;
    width: 41px;
    height: 36px;
  }


  .Cmp_GameMenu_folder > .foreground > .state0_elText509402 {
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 25px;
    width: 238px;
    height: 34px;
  }

.Cmp_GameMenu_folder .state0_elIconButtonCopy622393 {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.Cmp_GameMenu_folder .state0_elIconButtonCopy622393:focus {
  box-shadow: 0 0 5px rgba(22, 43, 214, 0.5000);
  outline: none;
}



  .Cmp_GameMenu_folder > .foreground > .state0_elIconButtonCopy622393 {
    position: absolute;
    left: 9px;
    top: 17px;
    width: 41px;
    height: 36px;
  }

/* This component has a fixed-size layout */
  .Cmp_GameMenu_folder {
    min-height: 75px;  /* This component has a fixed size */
    overflow: hidden;
    min-width: 300px; /* This component has a fixed size */
  }
  .Cmp_GameMenu_folder > .background > .containerMinHeight {
    min-height: 75px;
  }


  .Cmp_GameMenu_folder > .background > .state1_elBackground986923 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

.Cmp_GameMenu_folder .state1_elBtn_state11043681 {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.Cmp_GameMenu_folder .state1_elBtn_state11043681:focus {
  box-shadow: 0 0 5px rgba(22, 43, 214, 0.5000);
  outline: none;
}



  .Cmp_GameMenu_folder > .foreground > .state1_elBtn_state11043681 {
    position: absolute;
    left: 9px;
    top: 17px;
    width: 41px;
    height: 36px;
  }


  .Cmp_GameMenu_folder > .foreground > .state1_elText509402 {
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 25px;
    width: 238px;
    height: 34px;
  }

.Cmp_GameMenu_folder .state1_elIconButtonCopy622393 {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.Cmp_GameMenu_folder .state1_elIconButtonCopy622393:focus {
  box-shadow: 0 0 5px rgba(22, 43, 214, 0.5000);
  outline: none;
}



  .Cmp_GameMenu_folder > .foreground > .state1_elIconButtonCopy622393 {
    position: absolute;
    left: 9px;
    top: 17px;
    width: 41px;
    height: 36px;
  }

